.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
}

#resultado {
  margin-top: 20px;
}

#grafico {
  margin-top: 40px;
  width: 100%;
  height: 300px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.antenas {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  margin: 0 10px;
  align-self: self-end;
}

.barra-antena {
  width: 20px;
  background-color: #007bff;
  margin: 0 10px;
}

.distancia-los {
  width: 100%;
  border-bottom: 2px dotted black;
}
